---
import Layout from "../components/Layout.astro";
---

<Layout title="B-A-R Brands">
  <main>
    <div id="content">
      <img src="b-a-r-mark.svg" alt="B-A-R Brands" />
    </div>
    <p class="legal">&copy;2023 B-A-R Brands</p>
  </main>
</Layout>
