---
import Layout from "../components/Layout.astro";
---

<Layout title="B-A-R Brands" metaDescription="Bartenders. Artists. Renegades.">
  <main>
    <div id="content">
      <h1>B-A-R Brands - Bartenders. Artists. Renegades.</h1>
      <img src="b-a-r-mark_03.svg" alt="B-A-R Brands logo" />
    </div>
    <p class="legal">&copy;2023 B-A-R Brands</p>
  </main>
</Layout>
